.header{
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
}
.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px
}
.headerList{
    display: flex;
    gap: 40px;
}
.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.headerListItem.active{
    border: 1px solid var(--white-color);
    padding: 10px;
    border-radius: 10px;
}
.headerTitle{
    font-family: 'Koulen', cursive;
    letter-spacing: 8px;
    font-weight: 500;
}
.headerDescription{
    font-size: 18px;
    margin: 20px 0px;
    color:gainsboro
}
.headerBtn{
    border:none;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}
.headerBtn:hover{
    background-color: #f3a84c;
}