.navbar{
    padding-top: 10px;
    height: 50px;
    background-color:var(--primary-color);
    display: flex;
    justify-content: center
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo{
    font-size: 32px;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
}
.navButton{
    margin-left: 20px;
    border:none;
    padding: 7px 15px;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-radius: 4px;
    font-weight: 700;
}
.navButton:hover{
    background-color: #f3a84c;
}